Notebook created: 2018-03-19 00:21:17  
Generated from: _build_py/py/python_essentials.rst

### Native Python data types

#### Booleans

In [1]:
x = True
x

True

In [2]:
y = 100 < 10
y

False

In [3]:
type(y)

bool

In [6]:
x + y

1

In [7]:
x * y

0

#### Numeric types

In [1]:
a, b = 1, 2
c, d = 2.5, 10.0
type(a)

int

In [2]:
type(c)

float

In [3]:
1 / 2

0.5

#### Tuples

Tuples are **immutable** sequences

In [5]:
x = ('a', 'b')

In [6]:
x

('a', 'b')

In [7]:
type(x)

tuple

In [8]:
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

In [9]:
type(x)

tuple

Unlike lists, cannot mutate data:

In [10]:
x = 1, 2

In [11]:
x[0] = 10

TypeError: 'tuple' object does not support item assignment

Tuple unpacking:

In [35]:
integers = (10, 20, 30)
x, y, z = integers
x

10

In [36]:
y

20

#### Slices on sequence types

In [37]:
a = [2, 4, 6, 8]
a[1:]

[4, 6, 8]

In [38]:
a[1:3]

[4, 6]

In [12]:
s = 'foobar'
s[-3:]

'bar'

### Input and Output

In [13]:
f = open('newfile.txt', 'w')   # Open 'newfile.txt' for writing
f.write('Testing\n')           # Here '\n' means new line
f.write('Testing again')
f.close()

In [14]:
%pwd

'/home/john/sync_dir/quantecon/presentations/copenhagen_2018/repo/lecture_1'

In [15]:
f = open('newfile.txt', 'r')
out = f.read()
out

'Testing\nTesting again'

In [16]:
print(out)

Testing
Testing again

A longer example

In [17]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Writing us_cities.txt

In [18]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')            # Tuple unpacking
    city = city.title()                           # Capitalize city names
    population = '{0:,}'.format(int(population))  # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

### Back to for loops

The builtin functions `enumerate` and `zip` help with iteration.

In [21]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')

for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

The `enumerate` function:

In [22]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"element {index} is {letter}")

element 0 is a
element 1 is b
element 2 is c

### Comparisons

In [23]:
x, y = 1, 2
x < y

True

In [24]:
x > y

False

In [25]:
1 < 2 < 3

True

In [26]:
1 <= 2 <= 3

True

In [27]:
x = 1    # Assignment
x == 2   # Comparison

False

In [28]:
1 != 2

True

#### Compound statements

In [29]:
1 < 2 and 'f' in 'foo'

True

In [30]:
1 < 2 and 'g' in 'foo'

False

In [31]:
1 < 2 or 'g' in 'foo'

True

In [32]:
not True

False

In [33]:
not not True

True

### Built in functions

In [34]:
max(19, 20)

20

In [35]:
range(4)

range(0, 4)

In [36]:
list(range(4))

[0, 1, 2, 3]

In [37]:
str(22)

'22'

In [38]:
type(22)

int

### Back to functions

Docstrings:

In [39]:
def f(x):
    """
    This function squares its argument
    """
    return x**2

In [40]:
f?

In [41]:
f??

#### One line functions (lambda)

Instead of this

In [42]:
def f(x):
    return x**3

the following syntax is available

In [43]:
f = lambda x: x**3

Here's a use case

In [44]:
from scipy.integrate import quad

quad(lambda x: x**3, 0, 2)

(4.0, 4.440892098500626e-14)

#### Keyword arguments

In [106]:
def f(x, a=1, b=1):
    return a + b * x

In [107]:
f(2)

3

In [108]:
f(2, a=4, b=5)

14

### Coding style and PEP8

Please read:

https://www.python.org/dev/peps/pep-0008/

### Exercises

#### Exercise 1

 Given two numeric lists or tuples ``x_vals`` and ``y_vals`` of 
equal length, compute
their inner product using ``zip()``

#### Exercise 2


Write a function that takes a string as an argument and returns the number of capital letters in the string

Hint: Use string methods.

In [45]:
for i in range(20):
    print("solution below")

solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below
solution below

#### Solution to Ex 1.

In [49]:
x_vals, y_vals = [2, 3, 10], [1, 0, 1]
out = sum(x * y for x, y in zip(x_vals, y_vals))
print(out)

12

#### Solution to Ex 2.

In [52]:
def capital_counter(input_string):
    upper_case_version = input_string.upper()
    num_upper = 0
    for i, j in zip(input_string, upper_case_version):
        if i == j:
            num_upper += 1
    return num_upper

In [53]:
capital_counter('FooBar')

2